
body{
    background-color: #10203b;
    color: white;
}

.container{
    background-color: #212e2b;
    width: 20%;
    height: 420px;
    margin: auto;
    margin-top: 10%;
    
}

.month, span, h1, p{
    background-color: #32b89d;
}

.month {
    display: flex;
    text-align: center;
}

.date{
    width: 90%;
}

.prev, .next {
    margin: auto;
    width: 10%;
    cursor: pointer;
    font-size: 25px;
}

.date h1{
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 0px;
}

.weekdays{
    width: 100%;
    display: flex;
    padding: 0px;
    margin-bottom: 20px;
}

.weekdays div{
    width: calc(98% / 7);
    text-align: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.days div{
    text-align: center;
    margin: auto;
    width: calc(90% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
}

.days div:hover:not(.today){
    background-color: #1a2422;
    cursor: pointer;
}

.today{
    background-color: #32b89d;
}

.prev_date, .next_date{
    opacity: 0.5;
}

.calendar-btn i{
    font-size: 25px;
    cursor: pointer;
}